<!doctype html>
<html lang="it">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./css/main.css" rel="stylesheet" type="text/css">
    <title>NAO Challenge</title>
  </head>
  <body>
    <div id="loader">
        <div id="title">
            <h1>D'ASCANIO OPERA</h1>
        </div>
    </div>
    <div class="container">
        <div class="row" id="indexes">
            <div class="col">
                <ul>
                    <li>
                        <a id="home" class="active">Home</a>
                    </li>
                    <li>
                        <a id="blog" class="">Blog</a>
                    </li>
                    <li>
                        <a id="about" class="">About</a>
                    </li>
                </ul>
            </div>
        </div>
        <section id="homediv">
            <h1>D'ASCANIO OPERA</h1>
        </section>
        <section class="blogdiv">
            <div class="cards">
                <div class="card">
                    <img class="card-img-top" data-src="holder.js/100px180/" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/Red_Vespa_Scooter.jpg/1200px-Red_Vespa_Scooter.jpg" data-holder-rendered="true">
                    <div class="card-body">
                        <h5 class="card-title">Vespa</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <a href="#" class="">leggi di più</a>
                    </div>
                </div>
            </div>
        </section>
        <section id="aboutdiv">
            <div id="aboutteams">
                <div id="team">
                    <div id="membercard">
                        <img src="https://aws-images-prod.sindonews.net/dyn/600/pena/sindo-article/original/2022/01/13/Jual%20Foto%20Close%20Up.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Matteo Camillo Ludovico</h5>
                            <p class="card-text">Web developer, Arduino coder</p>
                        </div>
                    </div>
                    <div id="membercard">
                        <img src="https://aws-images-prod.sindonews.net/dyn/600/pena/sindo-article/original/2022/01/13/Jual%20Foto%20Close%20Up.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Michael Usai</h5>
                            <p class="card-text">Lorem Ipsum</p>
                        </div>
                    </div>
                    <div id="membercard">
                        <img src="https://aws-images-prod.sindonews.net/dyn/600/pena/sindo-article/original/2022/01/13/Jual%20Foto%20Close%20Up.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Lorenzo Schiavone</h5>
                            <p class="card-text">Lorem Ipsum</p>
                        </div>
                    </div>
                    <div id="membercard">
                        <img src="https://aws-images-prod.sindonews.net/dyn/600/pena/sindo-article/original/2022/01/13/Jual%20Foto%20Close%20Up.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Pietro Mazzatenta</h5>
                            <p class="card-text">Lorem Ipsum</p>
                        </div>
                    </div>
                    <div id="membercard">
                        <img src="https://aws-images-prod.sindonews.net/dyn/600/pena/sindo-article/original/2022/01/13/Jual%20Foto%20Close%20Up.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Samuele Fornaro</h5>
                            <p class="card-text">Lorem Ipsum</p>
                        </div>
                    </div>
                    <div id="membercard">
                        <img src="https://aws-images-prod.sindonews.net/dyn/600/pena/sindo-article/original/2022/01/13/Jual%20Foto%20Close%20Up.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Bruno Bucci</h5>
                            <p class="card-text">Lorem Ipsum</p>
                        </div>
                    </div>
                    <div id="membercard">
                        <img src="https://aws-images-prod.sindonews.net/dyn/600/pena/sindo-article/original/2022/01/13/Jual%20Foto%20Close%20Up.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Mattia Cesare Polidoro</h5>
                            <p class="card-text">Lorem Ipsum</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="./js/utils.js"></script>
    <script>
        const blog = "<%= locals.blog %>"
    </script>
    <script src="./js/script.js"></script>
  </body>
</html>