<!doctype html>
<html lang="it">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="../public/favicon.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../public/css/main.css" rel="stylesheet" type="text/css">
    <title>NAO Challenge</title>
  </head>
  <body>
    <div id="loader">
        <div id="title">
            <h1>D'ASCANIO OPERA</h1>
        </div>
    </div>
    <div class="container">
        <div class="row" id="indexes">
            <div class="col">
                <ul>
                    <li>
                        <a id="home" class="active">Home</a>
                    </li>
                    <li>
                        <a id="blog" class="">Blog</a>
                    </li>
                    <li>
                        <a id="about" class="">About</a>
                    </li>
                </ul>
            </div>
        </div>
        <section id="homediv">
            <h1>D'ASCANIO OPERA</h1>
        </section>
        <section class="blogdiv">
            <div class="cards">
                <div class="card">
                    <img class="card-img-top" data-src="holder.js/100px180/" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/Red_Vespa_Scooter.jpg/1200px-Red_Vespa_Scooter.jpg" data-holder-rendered="true">
                    <div class="card-body">
                        <h5 class="card-title">Vespa</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <a href="#" class="">leggi di più</a>
                    </div>
                </div>
            </div>
        </section>
        <section id="aboutdiv">
            <div id="team">
                <div id="membercard">
                    <img src="../public/facce/camillo.png" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Matteo Camillo Ludovico</h5>
                        <p class="card-text">Web Developer</p>
                    </div>
                </div>
                <div id="membercard">
                    <img src="../public/facce/michael.png" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Michael Usai</h5>
                        <p class="card-text">Programmatore NAO</p>
                    </div>
                </div>
                <div id="membercard">
                    <img src="../public/facce/schiavone.png" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Lorenzo Schiavone</h5>
                        <p class="card-text">Social Media Manager</p>
                    </div>
                </div>
                <div id="membercard">
                    <img src="../public/facce/pietro.png" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Pietro Mazzatenta</h5>
                        <p class="card-text">Sceneggiatore Video</p>
                    </div>
                </div>
                <div id="membercard">
                    <img src="../public/facce/fornaro.png" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Samuele Fornaro</h5>
                        <p class="card-text">Content Creator</p>
                    </div>
                </div>
                <div id="membercard">
                    <img src="../public/facce/bruno.png" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Bruno Bucci</h5>
                        <p class="card-text">Team Leader</p>
                    </div>
                </div>
                <div id="membercard">
                    <img src="../public/facce/polidoro.png" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Mattia Cesare Polidoro</h5>
                        <p class="card-text">Video Editor</p>
                    </div>
                </div>
            </div>
            <footer id="social">
                <a href="https://www.instagram.com/nao_dascanio_opera" class="fa fa-instagram"></a>
                <a href="https://github.com/Diasky/dascanioproject" class="fa fa-github"></a>
            </footer>
        </section>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="../public/js/script.js"></script>
  </body>
</html>