<!doctype html>
<html lang="it">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./css/main.css" rel="stylesheet" type="text/css">
    <title>NAO Challenge</title>
  </head>
  <body>
    <div id="loader">
        <div id="title">
            <h1>D'ASCANIO OPERA</h1>
        </div>
    </div>
    <div class="container">
        <div class="row" id="indexes">
            <div class="col">
                <ul>
                    <li>
                        <a id="home" class="active">Home</a>
                    </li>
                    <li>
                        <a id="blog" class="">Blog</a>
                    </li>
                    <li>
                        <a id="about" class="">About</a>
                    </li>
                </ul>
            </div>
        </div>
        <section id="homediv">
            <h1>D'ASCANIO OPERA</h1>
        </section>
        <section class="blogdiv">
            <div class="cards">
                <div class="card">
                    <img class="card-img-top" data-src="holder.js/100px180/" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/Red_Vespa_Scooter.jpg/1200px-Red_Vespa_Scooter.jpg" data-holder-rendered="true">
                    <div class="card-body">
                        <h5 class="card-title">Vespa</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <a href="#" class="">leggi di più</a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" data-src="holder.js/100px180/" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1805c8c9742%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1805c8c9742%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22106.8905258178711%22%20y%3D%2296.6%22%3E286x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
                    <div class="card-body">
                        <h5 class="card-title">Vespa</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <a href="#" class="">leggi di più</a>
                    </div>
                </div>
            </div>
        </section>
        <section id="aboutdiv">
            <h2>Page Tre</h2>
        </section>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="./js/utils.js"></script>
    <script>
        const blog = "<%= locals.blog %>"
    </script>
    <script src="./js/script.js"></script>
  </body>
</html>