@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Playfair+Display:wght@400;500;600;700&display=swap");
html {
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}

html ::-webkit-scrollbar {
  width: 0px;
}

html ::-khtml-scrollbar {
  width: 0px;
}

html ::-moz-scrollbar {
  width: 0px;
}

html ::-ms-scrollbar {
  width: 0px;
}

html ::scrollbar {
  width: 0px;
}

body {
  font-family: 'Playfair Display', serif;
  background-color: #feffe3;
  margin: 0;
}

body ::-webkit-selection {
  color: #fafcc4;
  background: #968E72;
}

body ::-khtml-selection {
  color: #fafcc4;
  background: #968E72;
}

body ::-moz-selection {
  color: #fafcc4;
  background: #968E72;
}

body ::-ms-selection {
  color: #fafcc4;
  background: #968E72;
}

body ::selection {
  color: #fafcc4;
  background: #968E72;
}

body .container #indexes {
  position: fixed;
  left: 0;
  right: 0;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  z-index: 3;
  background-color: #8a805b;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body .container #indexes a {
  text-decoration: none;
  color: #E9EB9E;
  color: 1rem;
  cursor: default;
}

body .container #indexes a:hover {
  color: #fff;
}

body .container #indexes ul {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

body .container #indexes ul li {
  margin: 9vw;
  display: inline;
}

body .container #card {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 3.3rem;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  width: 35vw;
  min-width: 600px;
  margin: 0;
  background-color: #fafcc4;
  border: 1px solid #968E72;
}

body .container #card #header #titleblog h1 {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 5px;
  color: #968E72;
}

body .container #card #header #imgblog {
  background-color: #968E72;
  padding: 2rem;
}

body .container #card #header #imgblog img {
  width: 15vw;
  min-width: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

body .container #card #content #dateblog {
  font-size: 1rem;
  font-weight: 100;
  margin-bottom: 10px;
  color: #968E72;
}

body .container #card #content p {
  font-size: 1.2rem;
  padding: 1rem;
}

body .container #card #content #author {
  color: #968E72;
  margin-bottom: 0.8rem;
}

@-webkit-keyframes test {
  0% {
    opacity: 0;
    top: 0rem;
  }
  100% {
    opacity: 1;
    top: 3.3rem;
  }
}

@keyframes test {
  0% {
    opacity: 0;
    top: 0rem;
  }
  100% {
    opacity: 1;
    top: 3.3rem;
  }
}

@media screen and (max-width: 1000px) {
  body .container #indexes {
    position: fixed;
    left: 0;
    right: 0;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
    background-color: #8a805b;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  body .container #indexes a {
    text-decoration: none;
    color: #E9EB9E;
    color: 1rem;
    cursor: default;
  }
  body .container #indexes a:hover {
    color: #fff;
  }
  body .container #indexes ul {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    text-align: center;
  }
  body .container #indexes ul li {
    margin: 9vw;
    display: inline;
  }
  body .container #card {
    position: relative;
    top: 0;
    width: 350px;
    min-width: 200px;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }
  body .container #card #header {
    text-align: center;
  }
  body .container #card #header #titleblog h1 {
    font-size: 1.3rem;
    margin-bottom: 5px;
    color: #968E72;
  }
  body .container #card #header #imgblog {
    background-color: #968E72;
    padding: 1rem;
  }
  body .container #card #header #imgblog img {
    width: 180px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body .container #card #content #dateblog {
    font-size: 0.8rem;
    font-weight: 100;
    color: #968E72;
  }
  body .container #card #content p {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
  body .container #card #content #author {
    color: #968E72;
    margin-bottom: 0.8rem;
  }
  @-webkit-keyframes test {
    0% {
      opacity: 0;
      margin-top: 0rem;
    }
    100% {
      opacity: 1;
      margin-top: 0.5rem;
    }
  }
  @keyframes test {
    0% {
      opacity: 0;
      margin-top: 0rem;
    }
    100% {
      opacity: 1;
      margin-top: 0.5rem;
    }
  }
}

body img {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -khtml-user-select: none;
  -khtml-user-drag: none;
  -moz-user-select: none;
  -moz-user-drag: none;
  -ms-user-select: none;
  -ms-user-drag: none;
  user-select: none;
  user-drag: none;
}
/*# sourceMappingURL=blog.css.map */