@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Playfair+Display:wght@400;500;600;700&display=swap');

$color1: #968E72;
$color2: #fafcc4;

$navcolor1: #E9EB9E;
$navcolor2: #8a805b;

$navpad: 1rem;
$navmargin: $navpad * 3;

$prefixes: ("-webkit-", "-khtml-", "-moz-", "-ms-",  "");

@mixin selection($color, $background) {
    @each $prefix in $prefixes {
        ::#{$prefix}selection {
            color: $color;
            background: $background;
        }
    }
}

html{
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    @each $prefix in $prefixes {
        ::#{$prefix}scrollbar {
            width: 0px;
        }
    }
}
body{
    background-color: $color1;
    font-family: 'Playfair Display', serif;
    color: $color2;
    width: 100vw;
    height: 100vh;
    margin: 0;
    @include selection($color1, $color2);
    #indexes{
        position: fixed;
        left:0;
        right:0;
        padding: $navpad;
        margin-left: auto;
        margin-right: auto;
        @each $prefix in $prefixes {
            #{$prefix}user-select: none;
        }
        a{
            text-decoration: none;
            color: $navcolor1;
            cursor: default;
        }
        a:hover{
            color:white;
        }
        a.active{
            color: white;
        }
        ul{
            margin: 0 auto;
            padding: 0;
            list-style-type: none;
            text-align: center;
        }
        ul li{
            margin: 9vw;
            display: inline;
        }
    }
    .container{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        section{
            width: 100vw;
            height: 100vh;
            scroll-snap-align: start;
            &#homediv{
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                h1{
                    font-size: 7vh;
                    font-weight: 700;
                    margin: 0;
                }
            }
            &.blogdiv{
                background-color: $color2;
                color: $color1;
                @include selection($color2, $color1);
                *{
                    position: relative;
                    top: $navmargin;
                }
            }
        }
    }
}