@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Playfair+Display:wght@400;500;600;700&display=swap");
html {
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  scrollbar-width: none;
}

html ::-webkit-scrollbar {
  width: 0px;
}

html ::-khtml-scrollbar {
  width: 0px;
}

html ::-moz-scrollbar {
  width: 0px;
}

html ::-ms-scrollbar {
  width: 0px;
}

html ::scrollbar {
  width: 0px;
}

body {
  background-color: #968E72;
  font-family: 'Playfair Display', serif;
  color: #fafcc4;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

body ::-webkit-selection {
  color: #968E72;
  background: #fafcc4;
}

body ::-khtml-selection {
  color: #968E72;
  background: #fafcc4;
}

body ::-moz-selection {
  color: #968E72;
  background: #fafcc4;
}

body ::-ms-selection {
  color: #968E72;
  background: #fafcc4;
}

body ::selection {
  color: #968E72;
  background: #fafcc4;
}

body #indexes {
  position: fixed;
  left: 0;
  right: 0;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body #indexes a {
  text-decoration: none;
  color: #E9EB9E;
  cursor: default;
}

body #indexes a:hover {
  color: white;
}

body #indexes a.active {
  color: white;
}

body #indexes ul {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

body #indexes ul li {
  margin: 9vw;
  display: inline;
}

body #loader {
  position: fixed;
  z-index: 100;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body #loader #title {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

body #loader #title h1 {
  color: #000000;
  font-size: 7vh;
  font-weight: 700;
  margin: 0;
}

@-webkit-keyframes test {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes test {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

body .container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body .container section {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}

body .container section#homediv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

body .container section#homediv h1 {
  font-size: 7vh;
  font-weight: 700;
  margin: 0;
}

body .container section.blogdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafcc4;
  color: #968E72;
}

body .container section.blogdiv .cards .card {
  display: inline-block;
  width: 300px;
  margin: 1rem;
  border: 1px solid #968E72;
  color: #968E72;
}

body .container section.blogdiv .cards .card ::-webkit-selection {
  color: #fafcc4;
  background: #968E72;
}

body .container section.blogdiv .cards .card ::-khtml-selection {
  color: #fafcc4;
  background: #968E72;
}

body .container section.blogdiv .cards .card ::-moz-selection {
  color: #fafcc4;
  background: #968E72;
}

body .container section.blogdiv .cards .card ::-ms-selection {
  color: #fafcc4;
  background: #968E72;
}

body .container section.blogdiv .cards .card ::selection {
  color: #fafcc4;
  background: #968E72;
}

body .container section.blogdiv .cards .card .card-img-top {
  width: 100%;
  height: 20vh;
  -o-object-fit: cover;
     object-fit: cover;
}

body .container section.blogdiv .cards .card .card-body {
  padding: 1rem;
}

body .container section.blogdiv .cards .card .card-body .card-title {
  font-size: 3vh;
  font-weight: 600;
  margin: 0;
}

body .container section.blogdiv .cards .card .card-body a {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  color: #8a805b;
  text-decoration: none;
}

body .container section.blogdiv .cards .card .card-body a:hover {
  color: black;
}

@media screen and (max-width: 700px) {
  body .container section.blogdiv .cards .card {
    display: block;
    width: 250px;
    border: 1px solid #968E72;
    color: #968E72;
  }
  body .container section.blogdiv .cards .card ::-webkit-selection {
    color: #fafcc4;
    background: #968E72;
  }
  body .container section.blogdiv .cards .card ::-khtml-selection {
    color: #fafcc4;
    background: #968E72;
  }
  body .container section.blogdiv .cards .card ::-moz-selection {
    color: #fafcc4;
    background: #968E72;
  }
  body .container section.blogdiv .cards .card ::-ms-selection {
    color: #fafcc4;
    background: #968E72;
  }
  body .container section.blogdiv .cards .card ::selection {
    color: #fafcc4;
    background: #968E72;
  }
  body .container section.blogdiv .cards .card .card-img-top {
    min-width: 50%;
    min-height: 50%;
    height: 14vh;
    width: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body .container section.blogdiv .cards .card .card-body {
    padding: 1rem;
  }
  body .container section.blogdiv .cards .card .card-body .card-title {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
  }
  body .container section.blogdiv .cards .card .card-body a {
    font-size: 0.7rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    color: #8a805b;
    text-decoration: none;
  }
  body .container section.blogdiv .cards .card .card-body a:hover {
    color: black;
  }
  body .container section.blogdiv .cards .card .card-body p {
    font-size: 0.8rem;
  }
}

body img {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -khtml-user-select: none;
  -khtml-user-drag: none;
  -moz-user-select: none;
  -moz-user-drag: none;
  -ms-user-select: none;
  -ms-user-drag: none;
  user-select: none;
  user-drag: none;
}
/*# sourceMappingURL=main.css.map */