@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Playfair+Display:wght@400;500;600;700&display=swap');

$color1: #968E72;
$color2: #fafcc4;

$navcolor1: #E9EB9E;
$navcolor2: #8a805b;

$loadercolor1: #ffffff;
$loadercolor2: #000000;

$navpad: 1rem;
$navmargin: $navpad * 3;

$prefixes: ("-webkit-", "-khtml-", "-moz-", "-ms-",  "");

@mixin selection($color, $background) {
    @each $prefix in $prefixes {
        ::#{$prefix}selection {
            color: $color;
            background: $background;
        }
    }
}

html{
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    @each $prefix in $prefixes {
        ::#{$prefix}scrollbar {
            width: 0px;
        }
    }
    scrollbar-width: none;
}
body{
    background-color: $color1;
    font-family: 'Playfair Display', serif;
    color: $color2;
    width: 100vw;
    height: 100vh;
    margin: 0;
    @include selection($color1, $color2);
    #indexes{
        position: fixed;
        left:0;
        right:0;
        padding: $navpad;
        margin-left: auto;
        margin-right: auto;
        @each $prefix in $prefixes {
            #{$prefix}user-select: none;
        }
        a{
            text-decoration: none;
            color: $navcolor1;
            cursor: default;
        }
        a:hover{
            color:white;
        }
        a.active{
            color: white;
        }
        ul{
            margin: 0 auto;
            padding: 0;
            list-style-type: none;
            text-align: center;
        }
        ul li{
            margin: 9vw;
            display: inline;
        }
    }
    #loader{
        position: fixed;
        z-index: 100;
        background-color: $loadercolor1;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        @each $prefix in $prefixes {
            #{$prefix}user-select: none;
        }
        #title{
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            h1{
                color: $loadercolor2;
                font-size: 7vh;
                font-weight: 700;
                margin: 0;
            }
        }
        @keyframes test {
            0% {
                opacity: 1;
            }
            50%{
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }
    }
    .container{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        section{
            width: 100vw;
            height: 100vh;
            scroll-snap-align: start;
            &#homediv{
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                h1{
                    font-size: 7vh;
                    font-weight: 700;
                    margin: 0;
                }
            }
            &.blogdiv{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $color2;
                color: $color1;
                .cards{
                    .card{
                        @include selection($color2, $color1);
                        display: inline-block;
                        width: 300px;
                        margin: 1rem;
                        border: 1px solid $color1;
                        color: $color1;
                        .card-img-top{
                            width: 100%;
                            height: 20vh;
                            object-fit: cover;
                        }
                        .card-body{
                            padding: 1rem;
                            .card-title{
                                font-size: 3vh;
                                font-weight: 600;
                                margin: 0;
                            }
                            a{
                                @each $prefix in $prefixes {
                                    #{$prefix}user-select: none;
                                }
                                cursor: default;
                                color: $navcolor2;
                                text-decoration: none;
                                &:hover{
                                    color: black;
                                }
                            }
                        }
                    }
                    @media screen and (max-width: 700px){
                        .card{
                            @include selection($color2, $color1);
                            display: block;
                            width: 250px;
                            border: 1px solid $color1;
                            color: $color1;
                            .card-img-top{
                                min-width: 50%;
                                min-height: 50%;
                                height: 14vh;
                                width: 250px;
                                object-fit: cover;
                            }
                            .card-body{
                                padding: 1rem;
                                .card-title{
                                    font-size: 1rem;
                                    font-weight: 600;
                                    margin: 0;
                                }
                                a{
                                    font-size: 0.7rem;
                                    @each $prefix in $prefixes {
                                        #{$prefix}user-select: none;
                                    }
                                    cursor: default;
                                    color: $navcolor2;
                                    text-decoration: none;
                                    &:hover{
                                        color: black;
                                    }
                                }
                                p{
                                    font-size: 0.8rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    img{
        @each $prefix in $prefixes {
            #{$prefix}user-select: none;
        }
    }
}