@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Playfair+Display:wght@400;500;600;700&display=swap");
html {
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

html.color1 {
  scrollbar-color: #fafcc4 #968E72;
}

html.color1 ::-webkit-scrollbar {
  width: 10px;
}

html.color1 ::-khtml-scrollbar {
  width: 10px;
}

html.color1 ::-moz-scrollbar {
  width: 10px;
}

html.color1 ::-ms-scrollbar {
  width: 10px;
}

html.color1 ::scrollbar {
  width: 10px;
}

html.color1 ::-webkit-scrollbar-track {
  background: #968E72;
}

html.color1 ::-khtml-scrollbar-track {
  background: #968E72;
}

html.color1 ::-moz-scrollbar-track {
  background: #968E72;
}

html.color1 ::-ms-scrollbar-track {
  background: #968E72;
}

html.color1 ::scrollbar-track {
  background: #968E72;
}

html.color1 ::-webkit-scrollbar-thumb {
  background: #fafcc4;
}

html.color1 ::-khtml-scrollbar-thumb {
  background: #fafcc4;
}

html.color1 ::-moz-scrollbar-thumb {
  background: #fafcc4;
}

html.color1 ::-ms-scrollbar-thumb {
  background: #fafcc4;
}

html.color1 ::scrollbar-thumb {
  background: #fafcc4;
}

html.color1 ::-webkit-scrollbar-thumb:hover {
  background: #fafcc4;
}

html.color1 ::-khtml-scrollbar-thumb:hover {
  background: #fafcc4;
}

html.color1 ::-moz-scrollbar-thumb:hover {
  background: #fafcc4;
}

html.color1 ::-ms-scrollbar-thumb:hover {
  background: #fafcc4;
}

html.color1 ::scrollbar-thumb:hover {
  background: #fafcc4;
}

html.color2 {
  scrollbar-color: #968E72 #fafcc4;
}

html.color2 ::-webkit-scrollbar {
  width: 10px;
}

html.color2 ::-khtml-scrollbar {
  width: 10px;
}

html.color2 ::-moz-scrollbar {
  width: 10px;
}

html.color2 ::-ms-scrollbar {
  width: 10px;
}

html.color2 ::scrollbar {
  width: 10px;
}

html.color2 ::-webkit-scrollbar-track {
  background: #fafcc4;
}

html.color2 ::-khtml-scrollbar-track {
  background: #fafcc4;
}

html.color2 ::-moz-scrollbar-track {
  background: #fafcc4;
}

html.color2 ::-ms-scrollbar-track {
  background: #fafcc4;
}

html.color2 ::scrollbar-track {
  background: #fafcc4;
}

html.color2 ::-webkit-scrollbar-thumb {
  background: #968E72;
}

html.color2 ::-khtml-scrollbar-thumb {
  background: #968E72;
}

html.color2 ::-moz-scrollbar-thumb {
  background: #968E72;
}

html.color2 ::-ms-scrollbar-thumb {
  background: #968E72;
}

html.color2 ::scrollbar-thumb {
  background: #968E72;
}

html.color2 ::-webkit-scrollbar-thumb:hover {
  background: #968E72;
}

html.color2 ::-khtml-scrollbar-thumb:hover {
  background: #968E72;
}

html.color2 ::-moz-scrollbar-thumb:hover {
  background: #968E72;
}

html.color2 ::-ms-scrollbar-thumb:hover {
  background: #968E72;
}

html.color2 ::scrollbar-thumb:hover {
  background: #968E72;
}

body {
  background-color: #968E72;
  font-family: 'Playfair Display', serif;
  color: #fafcc4;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

body ::-webkit-selection {
  color: #968E72;
  background: #fafcc4;
}

body ::-khtml-selection {
  color: #968E72;
  background: #fafcc4;
}

body ::-moz-selection {
  color: #968E72;
  background: #fafcc4;
}

body ::-ms-selection {
  color: #968E72;
  background: #fafcc4;
}

body ::selection {
  color: #968E72;
  background: #fafcc4;
}

body #indexes {
  position: fixed;
  left: 0;
  right: 0;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body #indexes a {
  text-decoration: none;
  color: #E9EB9E;
  cursor: default;
}

body #indexes a:hover {
  color: white;
}

body #indexes a.active {
  color: white;
}

body #indexes ul {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

body #indexes ul li {
  margin: 9vw;
  display: inline;
}

body .container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body .container section {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}

body .container section#homediv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

body .container section#homediv h1 {
  font-size: 7vh;
  font-weight: 700;
  margin: 0;
}

body .container section.blogdiv {
  background-color: #fafcc4;
  color: #968E72;
}

body .container section.blogdiv ::-webkit-selection {
  color: #fafcc4;
  background: #968E72;
}

body .container section.blogdiv ::-khtml-selection {
  color: #fafcc4;
  background: #968E72;
}

body .container section.blogdiv ::-moz-selection {
  color: #fafcc4;
  background: #968E72;
}

body .container section.blogdiv ::-ms-selection {
  color: #fafcc4;
  background: #968E72;
}

body .container section.blogdiv ::selection {
  color: #fafcc4;
  background: #968E72;
}

body .container section.blogdiv * {
  position: relative;
  top: 3rem;
}
/*# sourceMappingURL=main.css.map */